h1,
h3,
h6,
small {
  font-weight: 600;
  margin: 0;
}

h1 {
  font-size: 45px;
}

h3 {
  margin: 10px 0;
}

h6 {
  margin-bottom: 10px;
}

input {
  width: 90%;
  border-radius: 20px;
  border: 1px solid #204051;
  padding: 3px 10px;
  box-shadow: 8px 5px 5px #4a6471;
}

ul {
  margin-top: 12px;
  font-weight: 600;
  padding-left: 28px;
}

li {
  list-style: none;
}

hr {
  margin: 0;
}

footer {
  text-align: center;
  margin-top: 10px;
  font-family: monospace;
  color: #015d88;
  font-size: 15px;
}

.container,
.main {
  margin: 0 auto;
  margin-top: 5%;
}

.main {
  background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
  opacity: 0.9;
  max-width: 650px;
  max-height: 600px;
  padding: 2% 4% 0;
  border-radius: 10px;
  color: #023b54;
  font-family: "Nunito", sans-serif;
}

.current-information {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.city-and-date {
  width: 45%;
}

.search-city {
  margin-top: 8px;
  width: 350px;
}

.search-container {
  display: flex;
}

.search-icon {
  font-size: 18px;
  margin: 10px 5px 10px 0;
}

.current-location {
  margin: 0 auto;
  margin-top: 7px;
  display: block;
  border-radius: 20px;
  border: 1px solid #204051;
  padding: 3px 10px;
  box-shadow: 8px 5px 5px #4a6471;
  background-color: #015d88;
  color: #fff;
  font-weight: 500;
  transition: all 200ms ease-in-out;
}
.current-location:hover {
  cursor: pointer;
  color: #023b54;
  background-color: #fff;
  font-weight: 500;
}

.weather {
  margin-top: 30px;
  display: flex;
}

.sky-and-temperature{
  display: flex;
  width: 45%;
}

#sky-icon {
  margin-top: -25px;
  width: 120px;
}

.celsius-fahrenheit {
  font-size: 15px;
}

#celsius,
#fahrenheit {
  transition: all 200ms ease-in-out;
  color: #015d88;
}
#celsius:hover,
#fahrenheit:hover {
  text-decoration: underline;
  font-weight: 800;
}

.forecast {
display: grid;
grid-template-columns: repeat(5, 1fr);
grid-gap: 15px;
padding: 10px 0 20px;
}

.forecast-card {
  text-align: center;
  padding: 20px 0 10px;
}

.forecast-icon {
  margin: -20px 0 -20px;
  width: 90px;
}

.forecast-temperature {
  margin: 0;
}

.github-link {
  font-weight: 800;
  color: #023b54;
}
.github-link:hover {
  text-decoration: underline;
}
